*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    margin-left: 5.4rem;
    overflow-x: hidden;
    overflow-y:auto;
}

h1{
    text-align: center;
    font-family: arial;
    font-weight: 900;
    padding:2rem 0 3rem 0;
}

.images{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.fig-caption{
    margin:2rem;
    width:24rem;
    height: 20rem;
    position: relative;
    filter: grayscale(100%);
}

img{
    width:100%;
    height:100%;
    position: absolute;
    border-radius: 5%;
}


.fig-caption:hover{
    border-radius: 5%;
    filter: grayscale(0%);
    transform: scale(1.07);
    filter: drop-shadow(0 0 1vw #000000) ;
    transition: 1s ease-in-out;
}

figure{
    position: absolute;
    bottom: 0;
    left: 1rem;
    padding:-10%;
    width: 100%;
    height: 20%;
    font-size: 1.7rem;
    font-family: arial;
    font-weight: 500;
    color: #fff;
    opacity: 0;
}

.fig-caption:hover figure{
    opacity: 1;
}



/*
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .container{
        margin-left: 9.4rem;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .container{
        margin-left: 8.4rem;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .container{
        margin-left: 7.4rem;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .container{
        margin-left: 6.4rem;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .container{
        margin-left: 5.4rem;
    }
}
